<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЯДРУГБРАЙТА.РФ</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="./images/apple-touch-icon.png"/>
</head>
<body>
    <div id="BF" class="container">
        <div class="row">
            <div class="col-md-12 wrapper" v-on:click="document.location.href = redirect_url">
                <div class="countdown" v-if="countdown > 0">{{ countdown }}</div>
                <div class="countdown" v-if="countdown <= 0"><img src="./images/logo.png" class="logo"></div>
            </div>
        </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/app.js"></script>
    <!-- by Vladimir V. Myagdeev (vvmspace@gmail.com) -->
    <!-- https://vk.com/it007 -->
</body>
</html>